/* Colors 
light Mode - Background #bae8e8
Dark Mode -
*/
/* Try out these medium links later
https://medium.com/@NorthStarLight/the-future-of-urban-agriculture-vertical-farming-and-rooftop-gardens-3f02d33629a2
https://medium.com/coinmonks/the-latest-mining-agriculture-news-from-areas-producers-157e13783183
https://powerafrica.medium.com/from-seeds-to-self-sufficiency-suncultures-solar-powered-revolution-for-women-in-agriculture-885bcbd1eaac */
.Hotspot{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 400px;
    background-color: #008000; /* Deep Green */
    color: #FFFFFF; /* White text color */
}
.title{
  font-size: .675em;
}
.housetag{
  background: rgba(222, 184, 135, 0.7);
  color: white;
  border: 1px solid rgba(222, 184, 135,1);
  border-radius: 12px;
  padding: 2px 5px;
  margin: 5px;
}
#container{
    display: none;
}
.nav-link{
    color: black !important;
}
.nav-link.active{
    color: #bae8e8 !important;
    background-color: #004643 !important;
}
/* Lodge Complain styles */
.complain-data{
    width: 100%;
}
.lodge-complain{
    display: flex;
    justify-content: center;
}
.secIssue{
    display: flex;
    justify-content: center;
}
a{
    color: black;
    text-decoration: none;
} 

/* Sign in Page Styles */
.button{
    background-color: #ffd803 !important;
    color: #272343 !important;
    font-size: 10px;
    font-weight: bold !important;
}